[Unit]
Description=POP3 Server daemon (cmail-popd)

[Service]
Type=forking
TimeoutStartSec=0
PIDFile=/var/run/cmail-popd.pid
ExecStart=/usr/sbin/cmail-popd /etc/cmail/popd.conf
Requires=network-online.target

[Install]
WantedBy=multi-user.target
