[Unit]
Description=Outbound SMTP client (cmail-dispatchd)

[Service]
Type=forking
TimeoutStartSec=0
PIDFile=/var/run/cmail-dispatchd.pid
ExecStart=/usr/sbin/cmail-dispatchd /etc/cmail/dispatchd.conf
Requires=network-online.target

[Install]
WantedBy=multi-user.target
