[Unit]
Description=SMTP server daemon (cmail-smtpd)

[Service]
Type=forking
PIDFile=/var/run/cmail-smtpd.pid
TimeoutStartSec=0
ExecStart=/usr/sbin/cmail-smtpd /etc/cmail/smtpd.conf
Requires=network-online.target

[Install]
WantedBy=multi-user.target
