[Unit]
Description=cmail-msa

[Service]
Type=forking
TimeoutStartSec=0
PIDFile=/var/run/cmail-msa.pid
ExecStart=/usr/sbin/cmail-msa /etc/cmail/msa.conf

[Install]
WantedBy=multi-user.target
