[Unit]
Description=cmail-popd

[Service]
Type=forking
TimeoutStartSec=0
PIDFile=/var/run/cmail-popd.pid
ExecStart=/usr/sbin/cmail-popd /etc/cmail/popd.conf

[Install]
WantedBy=multi-user.target
