[Unit]
Descriptin=cmail-smtpd

[Service]
Type=forking
TimeoutStartSec=0
PIDFile=/var/run/cmail-smtpd.pid
ExecStart=/usr/sbin/cmail-smtpd /etc/cmail/smtpd.conf

[Install]
WantedBy=multi-user.target
